.chat {
  width: 34rem;
  height: 90vh;
  max-height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message {
  padding: .5rem 2rem;
  word-wrap: break-word;
}

.logs {
  word-wrap: break-word;
  white-space: pre-wrap;
}
