<div class="columns">
  <div class="column is-flex">
    <div class="card">
      <div class="card-content content">
        <h1>Welcome to Project19, loading...</h1>
        <div id="siteloading" class="loader-wrapper">
          <p class="loader-line loader-animate"></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ script('/js/babel-polyfill.min@6.26.0.js') }}
{{ script('/js/Ws.browser.min@1.0.9.js') }}
{{ script('/js/socket.js') }}