<div class="card is-dark">
  <div class="card-content">
    <div class="columns">
      <div class="column loader-wrapper content">
        <h2>Statistics</h2>
        <p>Running in <strong>0</strong> channels.
        <br>Reading <strong>0</strong> messages every minute.
        <br>Parsing <strong>0</strong> emotes every minute.
        <br>Serving <strong>0</strong> total users.</p>
        <a href="#">Check more here.</a>
      </div>
    </div>
  </div>
</div>