<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ web.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet-plain.css">
</head>
<body>
  @if(web.logFile)
    <pre class="logs">{{web.logFile}}</pre>
  @else
    <pre>Nothing here.</pre>
  @endif
</body>
</html>
